
<div><nav id="topnav">
    <a id="logo" class="nav-link" href="#">Book store</a>
    <a class="nav-link" *ngIf="userRole === 'admin'" (click)="onAddBooks()">AddBooks</a>
    <a class="nav-link" (click)="onGetBooks()">Get Books</a>
    <a class="rolelink nav-link " href="#"  > {{ userRole }}</a>
    <input type="text" [(ngModel)]="search" placeholder="Search books" class="search-bar" (keyup)="onSearchBooks()">
    <a id="about" class="nav-link" (click)="Logout()">LogOut</a>
</nav>
</div>


<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>

<div class="listComponent"  *ngIf="books && books.length"> 
  <ng-container  *ngFor="let book of books">
    <mat-card *ngIf="userRole === 'admin' || (userRole === 'guest' && !book.isDeleted)">
      <mat-card-title>{{ book.name }}</mat-card-title>
          <mat-card-content>
            <p><strong>Author:</strong> {{ book.author }}</p>
            <p><strong>Price:</strong> {{ book.price | currency }}</p>
            <p><strong>Date of Launch:</strong> {{ book.DOL | date }}</p>
            <p *ngIf="book.isDeleted">Deleted</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button *ngIf="userRole === 'admin'"  (click)="editBook(book)">Edit</button>
            <button mat-button  *ngIf="userRole === 'admin'" (click)="deleteBook(book)">Delete</button>
          </mat-card-actions>
        </mat-card> 
      </ng-container> 
</div>
  
